<b>
    <a href="tg://user?id=<%= userData.chatId; %>">
        <%= userData.firstName.replaceAll(/<|>/g, ''); %>
    </a>
</b>

<% if (canBuy) { %>
    , <%- $t('wish10.dropped'); %><br>

    <% for (const wishData of wishesData) { %>
        <a href="<%= wishData.newItem.newItemData?.url?.fandom ?? ''; %>">
            <%= 'â­ï¸'.repeat(wishData.newItem.newItemData.rarity); %> <b><%= wishData.newItem.newItemData.name; %></b>
        </a>

        <% if (wishData.cashBackForDuplicate.cashBackTemplate) { %>
            , +<%= wishData.cashBackForDuplicate.cashBackTemplate; %>
        <% } %>
        <br>
    <% } %>

    <br>

    ðŸ”¸<i><%= bannerName; %></i>

    <br>

    <% if (templatePrices.primogems) { %>
        -<%= templatePrices.primogems; %> âœ¦ <%- $t('currency.primogems'); %>
        <br>
    <% } %>
    <% if (templatePrices.stardust) { %>
        -<%= templatePrices.stardust; %> âœ¦ <%- $t('currency.stardust'); %>
        <br>
    <% } %>
    <% if (templatePrices.starglitter) { %>
        -<%= templatePrices.starglitter; %> âœ¦ <%- $t('currency.starglitter'); %>
    <% } %>
<% } else { %>
    , <%- $t(`wish10.noPrimogems.${currentBannerType}`)%>
<% } %>
