<%- include('./blocks/firstName', { $t, userData }); %>

<% if (canBuy) { %>
    , <%- $t('wish.dropped'); %><br>

    <a href="<%= newItemData?.url?.fandom ?? ''; %>">
        <%= 'â­ï¸'.repeat(newItemData.rarity); %> <b><%= newItemData.name; %></b>
    </a>

    <% if (cashBackTemplate) { %>
        , +<%= cashBackTemplate; %>
    <% } %>

    <br>
    <br>

    <%= newItemData.description; %>

    <br>
    <br>

    ðŸ”¸<i><%= bannerName; %></i>

    <br>
    <br>

    <%- include('./blocks/spendCurrency', { $t, templatePrices }); %>
<% } else { %>
    , <%- $t(`wish.noPrimogems.${currentBannerType}`)%>
<% } %>
