<b>
    <a href="tg://user?id=<%= userData.chatId; %>">
        <%= userData.firstName; %>
    </a>
</b>

, <%- $t('users.inventory.hereIs'); %>!
<br>
<br>

<% if (inventoryData.charactersInv.five.length) { %>
    <i><b><%- $t('users.inventory.characters'); %></b></i> ЁЯзЭЁЯП╗тАНтЩАя╕П (тнРя╕ПтнРя╕ПтнРя╕ПтнРя╕ПтнРя╕П):
    <br>
    <%- inventoryData.charactersInv.five.sort().join(' , '); %>.
    <br>
<% } %>
<br>
<% if (inventoryData.charactersInv.four.length) { %>
    <i><b><%- $t('users.inventory.characters'); %></b></i> ЁЯзЭЁЯП╗тАНтЩАя╕П (тнРя╕ПтнРя╕ПтнРя╕ПтнРя╕П):
    <br>
    <%- inventoryData.charactersInv.four.sort().join(' , '); %>.
    <br>
<% } %>
<br>
<% if (inventoryData.weaponsInv.five.length) { %>
    <i><b><%- $t('users.inventory.weapons'); %></b></i> тЪФя╕П (тнРя╕ПтнРя╕ПтнРя╕ПтнРя╕ПтнРя╕П):
    <br>
    <%- inventoryData.weaponsInv.five.sort().join(' , '); %>.
    <br>
<% } %>
<br>
<% if (inventoryData.weaponsInv.four.length) { %>
    <i><b><%- $t('users.inventory.weapons'); %></b></i> тЪФя╕П (я╕ПтнРя╕ПтнРя╕ПтнРя╕ПтнРя╕П):
    <br>
    <%- inventoryData.weaponsInv.four.sort().join(' , '); %>.
    <br>
<% } %>

