<b>
    <a href="tg://user?id=<%= userData.chatId; %>">
        <%= userData.firstName.replaceAll(/<|>/g, ''); %>
    </a>
</b>

<% if (primogemsAdded) { %>
    , <%- $t('shop.primogemsAdded'); %> +<%= primogemsAdded; %> ✦ <%- $t('currency.primogems'); %>!

    <% if (additionalData.canBuyWishes) { %>
        <br>
        <%- $t('shop.howManyFatesCanBuy').replace('{count}', String(additionalData.canBuyWishes)); %>
    <% } %>
<% } else { %>
    , <%- $t('shop.primogemsEmpty'); %>. <%- $t('phrases.commandLater'); %>.
<% } %>
