<b>
    <a href="tg://user?id=<%= userData.chatId; %>">
        <%= userData.firstName.replaceAll(/<|>/g, ''); %>
    </a>
</b>

, <%- $t('users.profile.hereIs'); %><br><br>

<b><%- $t('users.profile.wallet'); %></b><br>
<%- $t('users.profile.primogems'); %>: <%= userData.primogems; %> ✦<br>
<%- $t('users.profile.stardust'); %>: <%= userData.stardust; %> ✨<br>
<%- $t('users.profile.starglitter'); %>: <%= userData.starglitter; %> 🌟<br><br>

⏳<b><%- $t('banners.eventProfile'); %></b><br>
<% activeEventBanners.forEach((banner) => { %>
    <%
        const bannersName = _.result(banner.translates, userData.languageCode, '')
    %>

    <% if (banner.objKey === userData.currentBanner) { %>
        🔸 <i><b><%= bannersName %></b></i><br>
        <% if (banner.type === CHARACTERS_BANNER_TYPE_NAME) { %>
            <% Object.keys(banner.characters).forEach((rarity) => { %>
                <% banner.characters[rarity].forEach((item) => { %>
                    <%
                        const itemData = itemsHelper.getItemData({
                            langCode: userData.languageCode,
                            objKey: item,
                            type: TYPE_CHARACTERS_NAME
                        });
                    %>
                    <%= rarity %>⭐️ <%= itemData.name %> ↑<br>
                <% }); %>
            <% }); %>
        <% } else if (banner.type === WEAPONS_BANNER_TYPE_NAME) { %>
            <% Object.keys(banner.weapons).forEach((rarity) => { %>
                <% banner.weapons[rarity].forEach((item) => { %>
                    <%
                        const itemData = itemsHelper.getItemData({
                            langCode: userData.languageCode,
                            objKey: item,
                            type: TYPE_WEAPONS_NAME
                        });
                    %>
                    <%= rarity %>⭐️ <%= itemData.name %> ↑<br>
                <% }); %>
            <% }); %>
        <% } %>
    <% } else { %>
        🔹 <i><%= bannersName %></i><br>
    <% } %>
<% }); %>

♾️<b><%- $t('banners.universalProfile'); %></b><br>
<% activeUniversalBanners.forEach((banner) => { %>
    <%
        const bannersName = _.result(banner.translates, userData.languageCode, '')
    %>
    <% if (banner.objKey === userData.currentBanner) { %>
        🔸 <i><b><%= bannersName %></b></i><br>
        <% if (banner.type === CHARACTERS_BANNER_TYPE_NAME) { %>
            5⭐️ <%- $t('banners.allCharacters'); %> ↑<br>
        <% } else if (banner.type === WEAPONS_BANNER_TYPE_NAME) { %>
            5⭐️ <%- $t('banners.allWeapons'); %> ↑<br>
        <% } %>
    <% } else { %>
        🔹 <i><%= bannersName %></i><br>
    <% } %>
<% }); %>

<br><i><b><%- $t(`banners.${currentBannerData.type}`); %></b></i><br>
<% currentBannerChances.forEach((chance) => { %>
    <%= '⭐️'.repeat(chance.item) %><%= (Number(chance.chance) / 10).toFixed(1) %>%<br>
    <% if (chance.toGuarantee) { %>
        <%= chance.toGuarantee %> <%- $t('users.profile.toGuarantor'); %>!<br>
    <% } %>
    <% if (currentBannerData.type !== STANDARD_BANNER_TYPE_NAME && currentBannerData.category !== EVENT_BANNER_CATEGORY_NAME) { %>
        <% if (chance.item === 4) { %>
            <%- $t('banners.guarantee'); %>: <%= userData[currentBannerData.type].fourStarEventGuaranteed ? '100%' : '50/50'; %>
        <% } else if (chance.item === 5) { %>
            <%- $t('banners.guarantee'); %>: <%= userData[currentBannerData.type].fiveStarEventGuaranteed ? '100%' : '50/50'; %>
        <% } %>
    <% } %>
<% }); %>
