<b>
    <a href="tg://user?id=<%= userData.chatId; %>">
        <%= userData.firstName; %>
    </a>
</b>

, <%= $t('wish.dropped'); %><br>

<a href="<%= newItemData?.url?.fandom ?? ''; %>">
    <%= 'â­ï¸'.repeat(newItemData.rarity); %> <b><%= newItemData.name; %></b>
</a>

<% if (cashBackTemplate) { %>
    , +<%= cashBackTemplate; %>
<% } %>

<br>
<br>

<%= newItemData.description; %>

<br>
<br>

ðŸ”¸<i><%= bannerName; %></i>

<br>
<br>

<% if (price.key === 'primogems') { %>
    -<%= price.value; %> âœ¦ <%= $t('currency.primogems'); %>
<% } else if (price.key === 'stardust') { %>
    -<%= price.value; %> âœ¦ <%= $t('currency.stardust'); %>
<% } else if (price.key === 'starglitter') { %>
    -<%= price.value; %> âœ¦ <%= $t('currency.starglitter'); %>
<% } %>
