<b><a href="tg://user?id=<%= userData.chatId; %>"><%= userData.firstName; %></a></b>, <%= $t('users.profile.hereIs'); %>

<b><%= $t('users.profile.wallet'); %></b>
<%= $t('users.profile.primogems'); %>: <%= userData.primogems; %> ✦
<%= $t('users.profile.stardust'); %>: <%= userData.stardust; %> ✨
<%= $t('users.profile.starglitter'); %>: <%= userData.starglitter; %> 🌟

<b><%= $t('banners.eventProfile'); %></b>
